.about-container{
    margin-top: 5em;
    min-height: 95vh;
}

main{
    width: 100%;
    margin: auto;
}

.container-main{
    width: 80%;
    margin: auto;
}

.list-title{
    list-style-type: disc;
    align-items: normal;
}

.list-title{
    margin: 2em auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1.5em;
    width: 100%;
    justify-content: flex-start;
}

.list-title .item-formacion{
    color: whitesmoke;
    padding: 0.2em;
    list-style-type: circle;
    font-size: 1em;
}
