body{
    /* background-color: #70440ace; */
}


h1,h2,h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 2.5em;
    color: whitesmoke;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: large;
}

button{
    background-color: orangered;
}
