/*src/styles/home.css*/
.home-container{
    height: 100vh;
    background: #20002c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
    width: 100%;
    margin: auto;
    .title{
        text-align: center;
        width: fit-content;
        margin: auto;
        padding-top: 3em;
        z-index: 4;
    }
    .parrafo{
        text-align: center;
        width: fit-content;
        z-index: 4;
        margin: 0 auto 0 auto;
        padding: 0;
    }
}

.text-container{
    width: 100%;
}

.tech-container{
    width: 80%;
    margin: 1em auto; 
}
.tech-container .icons-tech{
    width: 80px;
    height: auto;
}

.tech-container .icons-tech:hover{
    opacity: 0.5;
}

.tech-container .list-tech{
    padding-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    list-style-type: none;
    margin: auto;
    align-items: center;
    justify-content: center;
}