.nav-layout{
    position: sticky;
    top: 0;
    border-bottom: 3px solid  rgb(39, 39, 39);
    background: -webkit-linear-gradient(to right, #000000, #70440ace);
    background: linear-gradient(to right,#70440ace, #000000);
    /* background: -webkit-linear-gradient(to right, #061736, #211b64, #0f0c29);
    background: linear-gradient(to right, #061736, #211b64, #0f0c29); */
    z-index: 5;
    height: 8vh;
    display: flex;
    /* border: 2px solid white; */
}

.nav-layout .ul-nav{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: whitesmoke;
    gap: 1em;
    /* border: 2px solid whitesmoke; */
    margin: auto 0 auto 0;
    justify-content: left;
}

.nav-layout .link-nav:hover{
    transition-duration: 0.5s;
    outline: 2px solid whitesmoke;
}
.nav-layout .link-nav a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: 600;
}
.nav-layout h1{
    display: flex;
    width: 10%;
    justify-content: centers;
    align-items: center;
    margin-top: 0.4em;
}

.nav-layout .translate{
    display: flex;
    width: 8%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 0.4em;
    img{
        height: 50px;
        width: 50px;
        margin-bottom: 5px;
        cursor: pointer;
    }
}