.article{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 10px 10px 10px;
    background-color: aliceblue;
}
.article:hover{
    outline: 2px solid rgb(66, 12, 12);
    img{
        opacity: 0.8;
    }
}

.list-projects{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.list-projects .images-projects{
    width: 400px;
    height: auto;
}
